In [3]:
import pandas as pd
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

# Pandas

In [13]:
import pandas as pd
frame = pd.read_csv("dataset.tsv", header = 0, sep="\t")
print(frame)
frame.shape
frame.columns
new_line = {'Name':'Ivan V.M', 'Birth':'22.01.2000', "City":"Penza", 'Position':'Junior'}
frame.append(new_line, ignore_index=True)
frame.drop([1,2],axis=0, inplace=True)
print(frame)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
              Name       Birth    City Position
0      Иванов А.А.  22.03.1980  Москва      NaN
3  Мельникова Д.С.  15.04.1985  Ростов      NaN
4      Рыбина Е.П.  19.11.1985  Москва  инженер
5     Костров С.О.  31.05.1985  Москва   стажер